<h1>User Fitness Activity</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Activity</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Activity</th>
            <th>Activity Date</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Calories</th>
           
           
        </tr>
    </thead>
    
    <tbody>
     
        <tr *ngFor="let useract of useractivity">
            <td>{{useract.user_id}}</td>
            <td>{{useract.activity_id}}</td>
            <td>{{useract.Date}}</td>
            <td>{{useract.duration}}</td>
            <td>{{useract.distance}}</td>
            <td>{{useract.calories}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{useract.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(useract.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="useract.isDeleting">
                    <span *ngIf="useract.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!useract.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!useractivity">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>